{% extends 'quiz/dependencies.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">

{% block content %}
<form action="{% url 'quiz:login_request'  %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Welcome to the Quiz Portal</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
            Enter Username: <input type="text" size=30 name="username" id="username" >
            Enter Password: <input type="password" size=30 name="password" id="password" >
            <br>
        
    </fieldset>
    <input type="submit" value="Login">
    </form>
    
{% endblock %}