<!-- references : https://data-flair.training/blogs/create-quiz-application-python-django/ -->


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">

<style>
  .greet{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'quiz:questions' student_id=student.id %}">Overview</a>
          </li>
        </li>
           
    
    </ul>
  </div>

  <span class="greet">Hello, {{student.student_name}}</span>
  <span ><a  class="greet" href="{% url 'quiz:index' %}">Logout</a></span>

</nav>