{% extends 'quiz/dependencies.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">

{% block content %}
<h1>Student Score : {{student.student_score}} </h1>
{% if question_list %}
    <ol class="gradient-list">
    {% for question in question_list %}
        <li>{{ question.question_text }} <br>
        Correct Answer -> {{question.display_answer}}  
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No Questions are available for this quiz. Please try next Quiz.</p>
{% endif %}

<a href="{% url 'quiz:index' %}">
    <button>Logout</button>
</a>

{% endblock %}